@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
body {
background-color: #f9fafc;
    font-family: "Open Sans";
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 4px;
}


ul{
    list-style: none;
    
}
h1{
    font-size: 15px;
}
#box{
    background-color:  black;
    color: white;
    }

button{
    background-color: black;
    color: white
}